.site__footer {
  display: flex;
  justify-content: space-around;
  background-color: #000;
  
}
.site__footer div {
  flex: 1;
}

#menu-utile-3 {
  padding-top:20px;
  font-size: 20px;
  font-family: var($police__titre-principal);
  font-weight: bold;
}
#menu-utile li a{
 color: #fff;
}

.wp-image-139{
  height: 250px;
  width: 100px;
}
#sidebar-footer-2 {
  margin-top: 2em;
}