.menu-primaire-container {
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 2rem;
}
/*    //nav

    .menu {
        //ul
        list-style-type: none;

        .menu-item {
            //li


            a{

            }
        }
    }
}*/

/* transformation en CSS 
.menu-primaire-container{}
.menu-primaire-container .menu{}
.menu-primaire-container .menu .menu-item{}
//ou .menu-primaire-container .menu-item{}
.menu-primaire-container .menu .menu-item a{}
// ou .menu-primaire-container a{}*/
.menu__principal {
  //nav
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 2rem;
  flex: 1;

  .menu {
    //ul
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu-item {
    //li
    margin-top: 30px;
    max-width: 100%;
  }

  a {
    display: block;
    text-decoration: none;
    background-color: #000;
    color: rgb(252, 249, 251);
    padding: 15px;
  }
  a:hover {
    background-color: #555;
  }

  .custom-logo {
    margin-top: 1em;
    margin-left: 2em;
  }
} //fin du menu principal
