.site__menu {
  position: relative;
}

.chk-burger {
  display: none;
}

.chk-burger:checked ~ .burger {
  transform: rotate(90deg);
}

.chk-burger:checked ~ .menu__aside {
  transform: translateX(0);
}

.burger {
  position: absolute;
  width : 2rem;
  height: 2rem;
  top: 15px;
  left: 13vw;
  transform: rotate(0deg);
  transition: transform .5s;
  font-size: 2rem;
  color: rgb(15, 14, 14);
}
.menu__aside {
  //nav
  display: flex;
  position: absolute;
  width: 100vw;
  top:70px;
  transform: translateX(-100vw);
  background-color: #000;
  transition: transform .5s;
  @media screen and (min-width: 700px) {
    position: static;
    transform: translateX(10);
  }

  .menu {
    //ul
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .menu-item {
    //li
    max-width: 100%;
  }

  a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
  }
}
/*
.menu__aside {}
.menu__aside .menu {}
.menu__aside .menu-item {}
.menu__aside a {}
*/
#sidebar-aside-1 {
  margin-top: 1.5em;
}
