.site {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: 
  "menu"
  "sidebar"
  "header"
  "main" 
  "footer";

  @media screen and (min-width : 700px) {

  grid-template-columns: ($size__site-sidebar) auto;
  grid-template-areas:
    "header sidebar"
    "menu main"
    ". main"  // '.' est pour prendre l'espace
    "footer footer";
  }
}

.site__header {
  grid-area: header;
  background-color: #ddd;
}

.site__main {
  grid-area: main;
  overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
  background-color: #ccc;
}

.site__menu {
  grid-area: menu;
}

aside.site__sidebar {
  grid-area: sidebar;
  margin-left: 2em;
}

.site__footer {
  grid-area: footer;
  background-color: #000;

}


//@import "no-sidebar";
